
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #divTotal {
        background-image: url(/Images/login-fundo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 800px;
        align-items: center;
        display: flex;
        /*flex-direction: row;
        flex-wrap: wrap;*/
        justify-content: center;
    }

    #formLogin {
        width: 350px;
        height: 400px;
        display: flex;
        align-items: center;
        /*opacity: 0,4;*/
        background: rgba(19, 5, 5, 0.7);
    }
</style>
<div>
    <div id="divTotal" class="row">
        <form id="formLogin" action="/Hospede/ChecarLogin" method="post">
            <div class="container body-content">
                <div style="align-content:center">
                    <h2 style="text-align: center; color: white">Login</h2>
                </div>
                <div class="col-sm-12" style="padding-top:20px;">
                    <label style="color:white" for="userId" class="form-label">Usuário</label>
                    <input type="text" class="form-control" name="Usuario" id="email" placeholder="email@exemplo.com" />
                </div>
                <div class="col-sm-12 " style="padding-top:20px; padding-bottom:20px">
                    <label style="color:white" for="userId" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="Senha" id="senha" />
                    <p style="color:red; padding-top:3px">@ViewBag.erroLogin</p>
                </div>              
                <div style="padding:20px;">
                    <button type="submit" class="btn btn-primary center-block">Entrar</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary center-block">@Html.ActionLink("Cadastre-se", "Cadastrar", "Hospede")</button>
                </div>
            </div>
        </form>
    </div>
</div>

