
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Sobre a Dream</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />

    <style>
        .title {
            background-image: url('../../Images/Sobrenos.jpg');
            background-repeat: no-repeat;
            width: 100%;
            background-size: 100%;
            background-position: left center;
            height: 260px;
            display: table;
            text-align: center;
            margin-bottom: 20px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
        }
        .vertical {
            color: gray;
            display: table-cell;
            vertical-align: middle;
            font-family:  Century;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <div class="title">
        <h1 class="vertical">Sobre Nós</h1>
    </div>

    <div class=" container body-content">

    <div class=" container">
        <div class="row">
            <div class="col-xs-12 div1">O hotel Dream é um hotel de tradição na região, estando no mercado há mais de 20 anos, sendo administrado por 1 casal. Hoje as reservas são feitas via telefone apenas, os hóspedes ligam e agendam o tipo de quarto e período desejado. É um hotel que disponibiliza quartos luxuosos e standarts. Todos os quartos tem acesso a Wi-Fi gratuito.</div>
        </div>
        <div class="row" >
            <br />
            <br />
            <div class="col-md-4 div2"><b>Objetivo</b></div>
            <div class="col-md-4 div3"><b>Visão</b></div>
            <div class="col-md-4 div4"><b>Valores</b></div>
        </div>
        
        <div class="row">
            <br />
            <div class="col-md-4 div2">Fornecer quartos de alta qualidade de tipos variados, para todos os hóspedes.</div>
            <div class="col-md-4 div3">Satisfazer nosso clientes, fornecendo a hospedagem que ele procura.</div>
            <div class="col-md-4 div4">Competência, transparência, efetividade e ética.</div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>



